* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    height: fit-content;
    background-image: linear-gradient(rgba(9,0,77,0.65), rgba(9,0,77,0.65)), url(images/backgroundimage.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10px 8%;
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.fa-regular.fa-user {
    margin-right: -150px; /* Add margin to the left of the user icon */
    color: #fff;
}
.book{
    margin-right:-70px;
    border:0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    font-weight: 500x;
}
h1{
    margin-top: 100px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
}
.content1{
    color: white;
    
}
p{
    font-size: 40px;
}
.content1 form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: fit-content; /* Ensure form width fits content */
}

#countryn {
    border: 0;
    outline: 0;
    font-size: 16px;
    padding-left: 10px;
    width: 150px; /* Adjust width of the input field */
}
#date{
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 140px;
    padding-right: 10px;
    background-color: #f5168d;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
}

.search {
    border: 0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    font-weight: 500x;
    margin-left: 10px; /* Add some space between input and button */
}
.travelo{
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .content2{
    margin-top: 50px;
    text-align: center;
    font-weight: 400;
    color: hotpink;
    font-size: larger;
  }
  .ourreccomendations{
   width: 100%; 
   background-repeat:no-repeat;
  }
  .ourreccomendations table{
    border-spacing: 30px;
    margin: 100px 150px;
  }
  .ourreccomendations td{
    border-radius: 30px;
    color: white;
    font-size: 30px;

  }
mark{
    background-color: #fff;
    color: blue;
    border-radius: 5px;
}