body{
    background-image: linear-gradient(rgba(9,0,77,0.65), rgba(9,0,77,0.65)), url(images/backgroundimage.jpg);
}
.container{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(8, 12, 238, 0.65), rgba(240, 21, 6, 0.938));
    margin: auto;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid black 2px;
    border-radius: 5%;
}
form{
    margin-top: 30%;
}
form input{
    height: 35px;
    width: 80%;
    border-color: #f5168d;
    border-radius: 10%;
    margin-left: 8%;
    
    
}
p{
    text-align: center;
    font-size: 30px;
}
button{
    margin-right:-70px;
    border:0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    font-weight: 500x;
    margin-left: 35%;
    margin-top: 30px;
}
.loginb{
    margin-right:-70px;
    border:0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    font-weight: 500x;
    margin-left: 40%;
    margin-top: 30px;
}

